.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
}

.App__searchForm {
  margin-top: 18px;
}

.App__input {
  padding: 6px 16px;
  min-width: 200px;
  max-width: 100vw;
  font-size: 15px;
}

.App__submit {
  padding: 6px 16px;
  font-size: 15px;
  margin-left: 6px;
  background-color: #02aff0;
  border: 2px solid #02aff0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.App__submit:hover {
  padding: 6px 16px;
  font-size: 15px;
  margin-left: 6px;
  background-color: white;
  border: 2px solid #02aff0;
  border-radius: 4px;
  color: #02aff0;
  cursor: pointer;
}

.App__recipes {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 220px 220px;
  align-items: baseline;
}